<mat-accordion *ngIf="postList.length>0">

  <mat-expansion-panel *ngFor="let post of postList">
    <mat-expansion-panel-header>
      <p>{{post.title}}</p>
    </mat-expansion-panel-header>
        <p>{{post.content}}</p>
        <mat-action-row>
            <button mat-button color="primary">EDIT</button>
            <button mat-button color="warn">DELETE</button>
          </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>
<p style="text-align: center" *ngIf="postList.length <= 0"> No posts added yet </p>
